* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(270deg, rgba(255,45,45,1) 0%, rgba(10,255,215,1) 100%);
}

.checker {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

#inputField {
    border: none;
    border-radius: 10px ;
    background-color: lightblue;
    height: 200px;
    width: 400px;
    padding: 10px;
    font-family: sans-serif;
}

#check {
    border: none;
    padding: 10px 20px;
    border-radius: 10px ;
    background-color: transparent;
    border: 2px solid black;
}

#words {
    color: black;
    font-size: 20px;
}